/* Home.css */
.home {
    text-align: center;
    padding:0;
    margin: 0;
    width: 100%;
  }
  
  .home h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 18px;
  }
  


  


  