.mmmainBox {
    width: 1200px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d6d6;
    /* border: 2px solid rgb(221, 21, 21); */
    margin: 10px 300px 10px 300px ;
    border-radius:10px;
    
  }

  .mmmainBox h1 {
    text-align: center;
    font-weight: 600;
  }

  .tab{
   justify-content: center;
   align-items: center;
   display: flex;
   border: 2px solid rgb(211, 206, 206);
   background-color: #d1d1d3b4;
  
   margin: 100px 0 10px 10px;
  
  
  }

  .ssubbox {
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 0 4px 4px 4px;
    background-color: #f5f4f477;
    border: 2px solid black;
    border-radius:10px;
  }


  .button {height:'30px';
    /* width:'200px'; */
    /* color:blue; */
    /* display:flex;  */
    justify-Content: center; 
    align-Items: center;
    /* margin-Top:'500px';
    margin-Right:'400px';
    margin-bottom:'400px'; */
    border: 1px solid black;
    padding: 25px 25px 25px 25px;
    margin: 600px 0 20px 400px;
    border-radius:10px;
    }

    .Tabpanel {
        width: 500px; 
        height: 500px;
        border-Radius: 10px;
        border: 1px solid blue;
        margin: 100px 0 0 0px;
    }