
.container{
    /* padding-top: 50px; */
    padding-left: 0;
    margin-top: 10px;
}

.custom-image {
    max-width: 100%;
    max-height: 110vh;
    border-radius: 10px;
    
  }
  
  .custom-title {
    font-size: 35px;
    color: #333;
  }
  .col-md-5{
    padding: 30px;
  }
  
  .custom-text {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
    margin: 15px 0px;
  }
  
  .custom-button {
    background-color: #9720bb;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .custom-button:hover {
    background-color: #c60a7e;
    cursor: pointer;
  }
  .date{
    color:blue;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;


  }
  
  .AvailableDate{
    color: red;
    font-weight: 600;
  }